
body{
    margin:0;
    }
           #mainarea{
                        width:100%;
                        height:100%;
    background:yellow;
                           }
           #topmostarea{
                             width:100%;
                             height:60px;
                        background:#d35400;
                           }
#topmostarea ul{
    margin:0px 5%;
    padding:0px;
    list-style:none;
    
    }
#topmostarea ul li{ 
      float:left;
      font-size:12px;
font-family:verdana;
font-weight:bold;
     margin:0;
padding:1.7% 1%;
color:white;	
}
 #topmostarea li a:link,#topmostarea li a:visited{
      color:#f4f6f7;
      text-decoration:none;
      background:transparent;
      border-left:solid 0px lightblue;
    }
#topmostarea ul li a:hover{
color:white;
text-decoration:underline;
      }
#topmostarea ul li ul{
display:none;
}
#topmostarea ul li:hover ul{
display:block;
background-color:white;
}
#topmostarea ul li:hover ul li{
float:none;
z-index:1000;

}
        #topleftarea{
                        width:5%;
                        height:60px;
                        background:#d35400;
    float:left;
                           }
        #topleftarea img{
                        width:50%;
                        height:40%;
    padding:25% 25%;
                           }
        #toprightarea{
                        width:20%;
                        height:100%;
                        background:#d35400;
    float:right;
                           }
        #toprightarea img{
                        width:10%;
                        height:30%;
    float:right;
    padding:20px 0px;
    border-radius:100%;
    margin:0px 7px;
                           }
           #headarea{
                             width:100%;
                             height:110px;
                             background:white;
                           }
#menuarea{
width:66%;
height:100%;
background:white;
float:left;
}
#menuarea ul{
    list-style:none;
    
    }
#menuarea ul li{ 
      float:left;
      font-size:16px;
font-family:verdana;
font-weight:bold;
     margin:3% 0%;
padding:0% 2%;
text-shadow:1px 1px black;
}
 #menuarea li a:link,#menuarea li a:visited{
      display:block;
color:#c0392b;
text-decoration:none;
      border-left:solid 0px lightblue;
float:left;
    }
#menuarea ul li a:hover{
color:#34495e;
border:solid 1px #34495e;
background:white;
display:block;
text-decoration:none;
      }
#menuarea ul li ul{
display:none;
}
#menuarea ul li:hover ul{
display:block;
background-color:white;
position:absolute;
z-index:1000;
}
#menuarea ul li:hover ul li{
float:none;
font-size:15px;
position:relative;
}
#headrightarea{
    width:20%;
    height:80%;
    background:white;
    float:left;
    margin:1% 0%;
    }
#headrightarea img{
    width:100%;
    height:100%;
    }


#logoarea{
    width:10%;
    height:100%;
    background:white;
    float:left;
    margin:0% 2%;
}
#logoarea img{
    width:100%;
    height:100%;
    float:left;
}
#toparea{
    width:100%;
    height:30px;
                        background:#d35400;
}
#toparea marquee{
    padding:0% 1%;
    font-size:15px;
    color:white;
    font-family:verdana;
}
#image{
    width:100%;
    height:250px;
    background-color:green;
}
#image img{
    width:100%;
    height:100%;
}
#textarea{
width:100%;
height:70px;
background-color: white;
float:left;
}
#textarea h2{
    font-family:verdana;
    font-size:30px;
    margin:1.5% 5%;
    text-align: center;
}
.visit{
    width:100%;
    height:1300px;
    background-color: white;
}
.visit p{
    margin-left:1%;
    margin-right:1%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:95%;
}
.visit h3{
    margin-left:1%;
    margin-right:1%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:120%;
    color:#0b1c98;
}
.visit h4{
    margin-left:1%;
    margin-right:1%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:100%;
    color:#0b1c98;
}
.map{
    width:98%;
    height:400px;
    background-color: white;
    margin-left:1%;
}
.map iframe{
    width:100%;
    height:100%;
}
#footer{
    width:100%;
    height:500px;
    background:black;
    float:left;
  }
#footer1{
    width:33.33%;
    height:500px;
    background:black;
    float:left;
  }
#footer1 hr{
margin:0px 50px;
  }
#footer1 h1{
font-size:20px;
font-family:verdana;
font-weight:bold;
padding:10px 50px;
color:white;
  }
#footer1 ul li{
font-size:20px;
font-family:verdana;
padding:5px 0px;
list-style:none;
color:white;
  }
#footer2{
    width:33.33%;
    height:500px;
    background:black;
    float:left;
  }
#footer2 h1{
font-size:20px;
font-family:verdana;
font-weight:bold;
padding:10px 50px;
color:white;
  }
#footer2 hr{
margin:0px 50px;
  }
#footer2 ul li{
font-size:15px;
font-family:verdana;
padding:10px 0px;
list-style:square;
color:#f57912;
  }
#footer2 ul{
float:left;
  }
#footer3{
    width:33%;
    height:500px;
    background:black;
    float:left;
  }
#footer3 h1{
font-size:20px;
font-family:verdana;
font-weight:bold;
padding:10px 50px;
color:white;
  }
#footer3 hr{
margin:0px 50px;
  }
#maparea{
width:70%;
height:60%;
background:red;
margin:7% 13%;
  }
#maparea iframe{
width:100%;
height:100%;
  }